*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  text-align: center;
  overflow: auto;
}

.fotocontainer{
  height: 95vh;
  width: 100%;
  background: cover;
  position: relative;
}
