*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  text-align: center;
  overflow: auto;
}

.fotocontainer{
  height: 95vh;
  width: 100%;
  background: cover;
  margin: 10px;
  position: relative;
}

.fotocontainer.rome{
  background-image: url("../img/rome.jpg");
}

.fotocontainer.copenaghen{
  background-image: url("../img/copenaghen.jpg");
}

.fotocontainer.tokyo{
  background-image: url("../img/tokyo.jpg");
}

.layover{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
