*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  text-align: center;
  overflow: auto;
}

.fotocontainer{
  height: 95vh;
  width: 100%;
  background: cover;
}

.fotocontainer.rome{
  background-image: url("../img/rome.jpg");
}

.fotocontainer.copenaghen{
  background-image: url("../img/copenaghen.jpg");
}

.fotocontainer.tokyo{
  background-image: url("../img/tokyo.jpg");
}
